<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9259485102-cof1lt3lquoj1un5me6l2s69p10jam2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9259485102-cof1lt3lquoj1un5me6l2s69p10jam2g</string>
	<key>API_KEY</key>
	<string>AIzaSyDl3sQYMlTyts4ADfKoEeaOXlE5KrE5ROs</string>
	<key>GCM_SENDER_ID</key>
	<string>9259485102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appvocado.appvocado.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>appvocado-901b1</string>
	<key>STORAGE_BUCKET</key>
	<string>appvocado-901b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9259485102:ios:1b4bd1809971eddeb42a3f</string>
</dict>
</plist>